@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "sans-serif";
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    display: flex;
    align-items: center;
}

.content-container {
    min-height: 100vh;
    min-width: 63vw;
    background-color: #f6f6f6;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
}

.sidebar-header {
    margin-left: 20px;
}

.sidebar-header img {
    width: 150px;
    margin: 10px 0;
}

.sidebar-item-container {
    padding: 0 15px;
}

.sidebar-item {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 75px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.sidebar-item:hover {
    /* transform: scale(1.02); */
    background-color: rgba(0, 0, 0, 0.06);
}

.sidebar-item.active {
    background-color: black;
    color: white;
    transform: scale(1.02);
}

.sidebar-item img {
    width: 23px;
    height: 23px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.sidebar-item span {
    margin-left: 10px;
    transition: color 0.3s ease;
}

.sidebar-item.active img {
    transform: scale(1.2);
}

.sidebar-item.active span {
    color: white;
}

.side-contents {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.side-contents h1 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.side-contents h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 20px;
}

.quick-action {
    display: flex;
    justify-content: space-evenly;
}

.quick-action .quick-action-btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quick-action .quick-action-btn-div img {
    width: 55px;
    transition: 0.3s ease-in-out;
    margin-bottom: 5px;
}

.quick-action .quick-action-btn-div span {
    font-size: 13px;
    font-weight: 500;
}

.quick-action .quick-action-btn-div img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.landing-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-container .image-container {
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(147, 169, 255, 0.097), rgba(0, 0, 0, 0.626)),
        url("../public/landing-page.png");
}

.landing-container .image-container .app-icon {
    width: 150px;
}

.landing-container .image-container .content-container-auth h1 {
    color: white;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 45px;
}

.landing-container .image-container .content-container-auth p {
    color: rgba(255, 255, 255, 0.758);
    font-weight: 500;
    margin: 10px 0;
}

.auth-container {
    min-height: 100vh;
    width: 40vw;
}

.auth-btn {
    background-color: white;
    padding: 10px 15px;
    width: fit-content;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.auth-btn:hover {
    background-color: rgba(255, 255, 255, 0.812);
    cursor: pointer;
}

.auth-icon {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-right: 10px;
}

.auth-btn span {
    font-weight: 500;
}

.profile-image {
    border-radius: 50%;
}

.slide-in-sheet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.slide-in-sheet.open {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
}

.slide-in-sheet.close {
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
}

.sheet-content {
    background-color: #fff;
    overflow: hidden;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(50px);
    opacity: 0;
}

.slide-in-sheet.open .sheet-content {
    transform: translateY(0);
    opacity: 1;
}

.slide-in-sheet.close .sheet-content {
    transform: translateY(10px);
    opacity: 0;
}

.slide-in-sheet .sheet-content {
    background-color: rgb(255, 255, 255);
    min-width: 45vw;
    min-height: 60vh;
    border-radius: 15px;
    padding: 20px 30px;
}

.sheet-content .sheet-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.sheet-content .sheet-head h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.sheet-content .sheet-head .head-action-close {
    cursor: pointer;
    width: 25px;
}

.sheet-content .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.sheet-content .profile-content img {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid black;
}

.sheet-content .profile-content h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.sheet-content .profile-content h3 {
    font-size: 1rem;
    font-weight: 500;
}

.sheet-content .sheet-head div {
    display: flex;
    align-items: center;
}

.sheet-content .sheet-head div .sheet-head-icon {
    width: 35px;
    padding-right: 8px;
}

.sheet-content .sheet-head div {
    margin-bottom: 10px;
}

.add-income-form .input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.add-income-form .input-field .input-label {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.add-income-form .input-field input,
textarea {
    outline: none;
    padding: 10px 8px;
    font-size: 1rem;
    height: 45px;
    font-weight: 500;
    border: 3px solid rgb(220, 220, 220);
    border-radius: 5px;
}

#income-description {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 70px;
    max-height: 100px;
    resize: vertical;
}

.input-chip-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.input-chip-group .active {
    filter: invert(1);
}

.input-chip-group .chip {
    padding: 8px 15px;
    min-width: fit-content;
    background-color: #f6f6f6;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.input-chip-group .chip:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.add-income-form .form-submit-container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.add-income-form .form-submit-container .form-submit {
    outline: none;
    border: none;
    background-color: black;
    padding: 12px 25px;
    font-size: 0.9rem;
    color: white;
    border-radius: 5px;
}

.add-income-form .form-submit-container .form-submit:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.801);
}

.sign-out {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 15px;
    outline: none;
    border: none;
    background-color: rgb(255, 22, 22);
    padding: 10px 22px;
    font-size: 0.9rem;
    color: white;
    border-radius: 5px;
}

.sign-out:hover {
    cursor: pointer;
    background-color: rgba(240, 58, 58, 0.801);
}

.transactions {
    padding: 0 15px;
}

.transaction-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* min-width: 300px; */
    padding: 5px 15px;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.transaction-entry .transaction-icon {
    width: 22px;
    margin-right: 15px;
}

.transaction-entry .trans-content {
    display: flex;
    width: 85%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.transaction-entry .trans-content .trans-head {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
.transaction-entry .trans-content .trans-desc {
    font-size: 13px;
    color: rgb(73, 73, 73);
}
.transaction-entry .income {
    color: #00be08;
}

.transaction-entry .expense {
    color: rgb(255, 40, 40);
}
